{% extends 'experience/base.html' %}
{% load static %}
{% load trans from i18n %}

{% block content %}
<div class="card mb-3"  style="max-width: 540px; margin-inline: auto;">
 <div class="row g-0">
     <div class="col-md-4"></p>
      <img src="{% static 'experience/images/about.png' %}" class="img-fluid rounded-start" alt="photo2">
    </div>
    <div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title" style="font-family: 'Droid Sans'"><p style="color: #FDA83D">Место ваших воспоминаний</p></h5>
        <p class="card-text" style="font-family: 'Droid Sans'">Привет пользователь данное веб-приложение было создано с целью, что бы вы могли хранить свои впечатления о посещаемых местах.</p>
        <p class="card-text">Где возможно указать место на карте и оставить комментарий об этом месте.</p>
        <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
      </div>
    </div>
  </div>
</div>
{% if request.user.is_authenticated %}
    <p style="text-align: center"> Привет! {{ user.first_name }}</p>
    <meta http-equiv="refresh" content="2; URL='home'">
{% else %}
<a href="{% url 'social:begin' 'facebook' %}">
  <p style="text-align: center">
      <button type="button" class="btn btn-outline-danger">
        Войти с помощью Facebook
      </button>
  </p>
</a>
<a href="/login/vk-oauth2" title="{% trans 'Login via VKontakte' %}">
    <p style="text-align: center">
        <button type="button" class="btn btn-outline-danger">
          Войти с помощью VK
        </button>
    </p>
</a>

<img class="w mx-auto d-block" src="{% static 'experience/images/about1.png' %}" alt="photo">
{% endif %}
{% endblock %}