{% extends 'experience/base.html' %}
{% load trans from i18n %}

{% block content %}

<form action="{% url 'post_create_url' %}" method="post" enctype="multipart/form-data">
    <p style="text-align: center">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p style="text-align: center"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
    <p style="text-align: center">
        <button type="submit" class="btn btn-outline-danger">
            Сохранить
        </button>
    </p>
    </form>
{% endblock %}